---
const { project } = Astro.props;
import githubLogo from "../images/GitHub_Logo.png";
---

<section>
  <h2>{project.title}</h2>
  <div class="project-content">
    <div class="img-container">
      <img src={project.imgUrl}/>
    </div>
    <div class="project-details">
      <p><b>Description: </b><br>
        { project.details.description }
      </p>
      <p><b>Technologies used: </b><br>
        { project.details.technologies }
      </p>
      <p><b>Lessons: </b><br>
        { project.details.lessons }
      </p>
      <div class="links">
        <p><b>Links: </b></p>
        <div>
          <a href={project.github} target="_blank">
            <img class="github-img" src={githubLogo} alt="GitHub logo">
          </a>
        </div>
        {project.onlineAt &&
          <div>
            <b>
              <a href={project.onlineAt} target="_blank" class="demo-link">Live demo</a>
            </b>
          </div> 
        }
      </div>
        
      
      <p>
        
      </p>

        
      
    </div>
  </div>
</section>

<style>
  section {
  text-align: center;
  background: linear-gradient(to bottom, #ffdd88 5%, #fff 5% 100%); 
  margin-top: 3rem;
}

section:last-child {
  margin-bottom: 2rem;
}


h2 {
  font-size: 2rem;
  margin: 0;
  padding: 2rem 0;
  background: #787373;
  border-radius: 1rem;
  color: #fff;
}


.project-content {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
}

.project-details {
  text-align: justify;
  text-justify: inter-word;
}
.project-details p {
  margin-bottom: 0.5rem;
}

.project-content > div {
  width: 50%;
  padding: 2% 5%;
}

.github-img {
  height: 2rem;
}


.links div {
  margin-right: 1rem;
}

.demo-link {
  text-decoration: none;
  color: black;
  padding-left: 0.5rem;
}



.img-container img {
  max-width: 100%;
}

@media (max-width: 700px) {
  .project-content {
    flex-direction: column;
  }

  .project-content > div {
  width: 90%;
  padding: 2% 5%;
}

.img-container img {
  max-width: 90%;
}
}
</style>